<header>
    <div class="logoHeader">
        <a routerLink=""><img class="logoImagem" src="/assets/img/logo.png" alt="logo"></a>
    </div>
    <div class="menuHeader">
        <nav>
            <a routerLink="login">Login</a>
        </nav>
        <button class="iconeMenuHeader">Menu</button>
    </div>
    <div class="configuracaoHeader">
        <button id="configuracoesHeader" class="configuracoesHeader">Configurações</button>
        <nav id="menuConfiguracoes" class="menuConfiguracoes desativado">
            <a href="">Configuraçoes</a>
            <a href="">Editar Perfil</a>
            <a href="">Meu Carrinho</a>
            <a href="">Logout</a>
        </nav>
    </div>
</header>
