 <!-- BANNER INICIO -->

    <app-banner></app-banner>

 <!-- BANNER FINAL -->
  <!-- MENU INICIO -->

 <section>
    <div class="menuMeio">
        <a href="#">baixe nosso app</a>
        <a href="#">monte seu pc</a>
        <a href="#">consoles</a>
        <a href="#">celulares</a>
    </div>
</section>

<!-- MENU FINAL -->
<!-- CORPO INICIO -->

<section class="corpo">
    <div class="botoes">
        <button>destaques</button>
        <nav>
            <a href="#">destaque 1</a>
            <a href="#">destaque 2</a>
            <a href="#">destaque 3</a>
        </nav>
    </div>
    <div id="espaço-produtos" class="produtos">
        <div *ngFor="let produtos of listaProdutos" class="cardprodutos">
           <img src="/assets/img/produtos.png" alt="">
           <h1>{{produtos.titulo}}</h1>
           <p>{{produtos.preco}}</p>
           <p>{{produtos.descricao}}</p>
        </div>
    </div >
    <div class="botoes">
        <a href="">novidades</a>
        <a href="">noticias</a>
        <a href="">comunidade</a>
    </div>   
</section>

<!-- CORPO FINAL -->
