<body>
   <section class="tudo">
       <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
           <fieldset class="grupo">
               <div class="campo">
                   <label for="">Login</label>
                   <input type="text" name="nome" id="nome" placeholder="Nome..." [(ngModel)]="loginModel.email" required>
               </div>
               <div class="campo">
                   <label for="">Senha</label>
                   <input type="password" name="senha" id="senha" placeholder="Sua senha..." [(ngModel)]="loginModel.password" required>
               </div>
               <div class="links" >
                   <a href="">esqueci minha senha</a>
                   <a href="">fazer registro</a>
               </div>
               
           </fieldset>
           <input id="botao-enviar" type="submit" value="fazer login">
       </form>
       <p id="mensagem" *ngIf=" mensagem != '' "> {{ mensagem }}</p>
   </section>
</body>